@using BlazorServerTree.App.Services
@using BlazorServerTree.App.UIHelpers
@using System.Linq
@using System.Collections.Generic

@page "/tree"
@inject TreeDataService TreeService

<h1>Sample Tree</h1>

<p>Tree</p>

@if (uiNodes == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Selected Item</span>
    </div>
    <input type="text" class="form-control" 
           aria-label="SelectedText" aria-describedby="basic-addon1" 
           value="@selectedText" />
    </div>

    <ul class="list-group">
        @foreach (var node in uiNodes.Where(x=>x.IsVisible))
        {
            <li id="tree-@node.Id" 
                class="list-group-item @node.IsSelected_display" 
                onclick="@((e) => TreeSelect(e, @node.Id ))"
            >
                    @for(int d=0; d<@node.Deep; d++) {
                        <span class="p-2"></span>
                    }
                    <span class="@node.IsExpanded_display" 
                          onclick="@(async (e) => await TreeExpand(e, @node.Id ))"
                    >
                    </span>
                    @node.Text
            </li>
        }
    </ul>
}

@functions {
    List<UITreeNode> uiNodes;
    private string selectedText {get; set;}= "";

    protected override async Task OnInitAsync()
    {
        await LoadNodes();
        fixup();
    }

    private async Task LoadNodes(int? ParentId = null)
    {
        //Load tree from 'database'
        TreeNode[] newNodes = await TreeService.GetNodesAsync(ParentId);
        //Transform 'database' data to 'UI' data
        List<UITreeNode> uiNewNodes = newNodes
                                      .Where(x=>x.ParentId==ParentId)
                                      .Select( x=>new UITreeNode { ParentId=x.ParentId, Id=x.Id, Text=x.Label  } )
                                      .ToList();
        uiNodes = (uiNodes == null)? uiNewNodes : uiNewNodes.Concat( uiNodes ).ToList();
    }

    private void TreeSelect(UIMouseEventArgs e, int Id ) {
        foreach( UITreeNode node in uiNodes) {
            node.IsSelected = (node.Id == Id && !node.IsSelected);
        }
        fixup();
    }

    private async Task TreeExpand(UIMouseEventArgs e,  int Id ) {
        UITreeNode n = uiNodes.Where(x=>x.Id == Id).First();
        n.IsExpanded = !n.IsExpanded;
        if (n.IsExpanded && !n.ChildrenLoaded) {
            n.ChildrenLoaded = true;
            await LoadNodes(Id);
        }
        fixup();
    }

    private void fixup() {
        uiNodes = UITreeHelper.ReArrange( uiNodes );
        selectedText = (uiNodes.Where(x=>x.IsSelected).Select(x=>x.Text).FirstOrDefault());
        StateHasChanged();
    }

}